@homey:registry=https://npm.athom.com/
@homey:always-auth=true
@homey:strict-ssl=false
@homey:fetch-retry-mintimeout=20000
@homey:fetch-retry-maxtimeout=120000
@homey:fetch-retries=5
@homey:fetch-retry-factor=2
